.news-nav {
    display: flex;
    align-items: center;
}

.news-current-datetime {
    font-size: 12px;

    color: #90919d;
}

.news-content {
    margin-top: 9px;
    
    font-size: 14px;
}

.news-content ul {
   padding: 0;
}

.news-content-item {
    list-style-type: none;
}