.weather {
    display: flex;
    align-items: center;
}

.weather-image-container {
    font-size: 8px;
}

.weather-widget-degrees__average {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 20px;
}

.weather-widget-degrees__in-detail {
    font-size: 12px;
}